 <div class="main-content">
    <main>     
         <section class="recentBooking">
            <div class="clientList">
                <div class="search-wrapper">
                   <span class="ti-search"></span>
                   <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Client Name">
                 </div>
                 </div>
             <div class="activity-grid">
                 <div class="activity-card">
                     <h3>Bookings</h3>
                     
                     <div class="table-responsive">
                         <table id="bookingTable" data-name="myTable">
                             <thead>
                                 <tr>
                                    <th>Renter</th>
                                     <th>Car Rented</th>
                                     <th>Plate Number</th>
                                     <th>Start Date</th>
                                     <th>End Date</th>
                                     <th>Status</th>
                                 </tr>
                             </thead>
                             <tbody>
                                 <tr>
                                    <td>Neil Collado</td>
                                     <td>2018 Toyota Vios</td>
                                     <td>HXZ 215</td>
                                     <td>15 Aug, 2020</td>
                                     <td>22 Aug, 2020</td>
                                     <td>
                                         <span class="badge success">Success</span>
                                     </td>
                                 </tr>
                                 <tr>
                                    <td>Chris Drape</td>
                                     <td>2020 Isuzu MUX</td>
                                     <td>SZV 112</td>
                                     <td>15 Aug, 2020</td>
                                     <td>22 Aug, 2020</td>
                                     <td>
                                         <span class="badge success">Success</span>
                                     </td>
                                 </tr>
                                 <tr>
                                    <td>Joshua Macaldo</td>
                                     <td>2011 Isuzu DMAX</td>
                                     <td>HTT 839</td>
                                     <td>15 Aug, 2020</td>
                                     <td>22 Aug, 2020</td>
                                     <td>
                                         <span class="badge success">Success</span>
                                     </td>
                                 </tr>
                             </tbody>
                         </table>
                     </div>
                 </div>
                 </div><br>
                 <div class="pendingReserve">
                 <div class="search-wrapper">
                    <span class="ti-search"></span>
                    <input type="text" id="pendingInput" onkeyup="pendingSearch()" placeholder="Search for Pending Client">
                  </div>
                  </div>
                 <div class="activity-grid">
                    <div class="activity-card">
                        <h3>Pending Reservations</h3>
                        
                        <div class="table-responsive">
                            <table id="pendingTable" data-name="myTable">
                                <thead>
                                    <tr>
                                        <th>Renter</th>
                                        <th>Car to Rent</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Option</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>John Smith</td>
                                        <td>2018 Toyota Vios</td>
                                        <td>15 Aug, 2020</td>
                                        <td>22 Aug, 2020</td>
                                        <td>
                                            <button>approve</button>
                                            <button>deny</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Logan Smith</td>
                                        <td>2013 Toyota Wigo</td>
                                        <td>15 Aug, 2020</td>
                                        <td>22 Aug, 2020</td>
                                        <td>
                                            <button>approve</button>
                                            <button>deny</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
             </div>
          </section>
          
      </main>
     </div>
     <script>
        function myFunction() {
            var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("bookingTable");
          tr = table.getElementsByTagName("tr");
        
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }
          }
        }
        function pendingSearch() {
            var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById("pendingInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("pendingTable");
          tr = table.getElementsByTagName("tr");
        
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }
          }
        }
        </script>
        