<!-- <form class="carform">
    <label>Car Year:</label><br>
    <input type="text" id="carname" name="carname" required><br><br>
    <label>Car Model:</label><br>
    <input type="text" id="carmodel" name="carmodel" required><br><br>
    <label>Car Mileage:</label><br>
    <input type="number" id="mileage" name="mileage" required><br><br>  
    <label>Renting Price:</label><br>
    <input type="number" id="rentprice" name="rentprice" required><br><br>   
    <label>Plate Number:</label><br>
    <input type="number" id="platenum" name="platenum" required><br><br>   
    <label>Car Pictures:</label><br>
    <input type="file"><br><br>
    <input type="submit" value="Submit">
  </form> -->

<form  method="post">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Vehicle Type</label>
        <input type="text" class="form-control" id="type" name="type">
      </div>
      <div class="form-group">
        <label>Vehicle Brand Model</label>
        <input type="text" class="form-control" id="brand_model" name="brand_model">
      </div>
      <div class="form-group">
        <label>Plate Number</label>
        <input type="text" class="form-control" id="plate_number" name="plate_number">
      </div>
      <div class="form-group">
        <label>Passenger Capacity</label>
        <input type="text" class="form-control" id="capacity" name="capacity">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Transmission</label>
        <input type="text" class="form-control" id="transmission" name="transmission">
      </div>

      <div class="form-group">
        <label>Rate Per Day</label>
        <input type="text" class="form-control" id="rate" name="rate">
      </div>
      <div class="form-group">
        <label>Upload Image</label>
        <input type="text" class="form-control" id="image" name="image">
      </div>
      <!-- <div class="form-group">
      <label>Status</label>
      <input type="text" class="form-control" id="exampleInputPassword1" >
     </div> -->
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>